#header-wrap {
    position: fixed !important;
    top: 0;
}
.logo-default {
    height: 40px !important;
}
.logo-dark {
    height: 40px !important;
}

.menu-item > .menu-link:hover {
    color: #d6d6d6 !important;
}
.menu-item.current > .menu-link {
    color: #d6d6d6 !important;
}
#chatWA {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 25;
}
.bg-btn-visit {
    background-color: #122f4d !important;
    border-color: #122f4d !important;
}
.bg-btn-language {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: black;
}
.language {
    display: flex;
    justify-content: space-between;
}
.but_lang1 {
    width: 300px;
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    margin-left: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    @media (max-width: 760px) {
        width: 100px;
        height: 30px;
        font-size: 6.5px;
        font-weight: 600;
        margin-right: 1rem;
        margin-left: auto;
        margin-top: -1rem;
        justify-content: center;
        align-items: center;
        opacity: 0.8;
    }
}
.but_lang2 {
    width: 300px;
    height: 50px;
    font-size: 24px;
    font-weight: 600;
    margin-right: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    @media (max-width: 760px) {
        width: 100px;
        height: 30px;
        font-size: 6.5px;
        font-weight: 600;
        margin-right: auto;
        margin-left: 1rem;
        margin-top: -1rem;

        justify-content: center;
        align-items: center;
        opacity: 0.8;
    }

}
.bg-blue-visit {
    background-color: #122f4d !important;
}
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

.whatsapp-button a {
    display: block;
    background-color: #25d366;
    color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.whatsapp-button a:hover {
    background-color: #128c7e;
}

#logo-on-header {
    width: 40% !important;

    @media (max-width: 760px) {
        width: 50% !important;
        margin-top: -4.5rem;
    }
}

@media (max-width: 760px) {
    .logo-default,
    .logo-dark {
        width: 100px;
        height: 40px !important;
        position: relative;
        left: -10px;
    }
}

#service-floating-card {
    position: relative !important;
    top: -100px !important;

    @media (max-width: 760px) {
        top: -100px !important;

    }
}

@media (width <= 768px) {
    #header-wrap {
        /* background-color: transparent !important; */
        /* border-bottom: none; */
    }
    .logo-default {
        width: 75px !important;
        width: 18px !important;
    }
    .logo-dark {
        width: 75px !important;
        height: 18px !important;
    }
}
